.wrapper{
    border-bottom: 1px solid #888888;
    min-height: 100px;
}

.insertMode .cursor{
    width: 0;
    margin: 0;
}
.insertMode .cursor:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background: white;
    opacity: 0.3;
    border-radius: 5px;
}


.cursor{
    height: 70px;
    width: 1px;
    margin: 0 5px;
    background: #888888;
    display: inline-block;
    animation: blink 1s infinite;
    position: relative;
}

@keyframes blink {
    0% {opacity: 0}
    49%{opacity: 0}
    50% {opacity: 1}
}

@media screen and (max-width: 767px){
    .insertMode .cursor:after{
        content: '';
        position: absolute;
        top: 0;
        left: 5px;
        width: 35px;
        height: 35px;
        background: white;
        opacity: 0.3;
        border-radius: 5px;
    }

    .cursor{
        height: 35px;
        width: 1px;
        margin: 0 5px;
        background: #888888;
        display: inline-block;
        animation: blink 1s infinite;
        position: relative;
    }
}