.wrapper{
    background: #f1e3bf;
    padding: 1rem;
}
.charField{
    max-width: 1280px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}


@media screen and (max-width: 767px){
    .charField{
        gap: 0.5rem;
    }
}